@font-face {
    font-family: 'itc-avant-garde-gothic-pro, sans-serif';
    src: url('itc-avant-garde-gothic-pro-regular.woff2') format('woff2'),
        url('itc-avant-garde-gothic-pro-regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'itc-avant-garde-gothic-pro, sans-serif';
    src: url('itc-avant-garde-gothic-pro-medium.woff2') format('woff2'),
        url('itc-avant-garde-gothic-pro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'itc-avant-garde-gothic-pro, sans-serif';
    src: url('itc-avant-garde-gothic-pro-bold.woff2') format('woff2'),
        url('itc-avant-garde-gothic-pro-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
