

@keyframes bt_bounce_up__2cvaf{
  0%, 20%, 40%, 60%, 100% {
      transform: translateZ(0);
  }
  10%, 30%, 50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes bt_bounce__2cvaf{
  0%, 20%, 40%, 60%, 100% {
      transform: translateZ(0);
  }
  10%, 30%, 50% {
    transform: translate3d(5px,0,0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.slideInUp {
  animation-name: slideInUp;
}
[data-animation] {
  opacity: 0;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animations-disabled {
  &, [data-animation] {
    animation: none !important;
    opacity: 1 !important;
  }
}
