.footer-main{
    background-color: $main-color;
    padding: 50px 0 20px 0;
    .footer-bottom, .footer-top{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -o-flex;
        display: flex;
        align-items: center;
        align-content: center;
        .footer-item{
            width: 50%;
            margin-bottom: 30px;
        }
    }
    .footer-top{
        margin-bottom: 19px;
        .logo-footer{
            .logo-site{
                width: 100%;
                max-width: 333px;
                height: auto;
            }
        }
        .social-footer , .social-footer .list-social{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            display: flex;
            align-items: center;
            align-content: center;
        }
        .social-footer{
            -webkit-box-pack: flex-end;
            -moz-box-pack: flex-end;
            -ms-flex-pack: flex-end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            p.heading-social{
                color: #fff;
                margin: 0;
                font-family: $font-main;
            }
            .list-social{
                .item-social{
                    margin: 0 0 0 16px;
                    -webkit-transition: all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -ms-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    &:hover{
                        margin-top: -10px;
                        -webkit-transition: all 0.25s ease-in-out;
                        -moz-transition: all 0.25s ease-in-out;
                        -ms-transition: all 0.25s ease-in-out;
                        -o-transition: all 0.25s ease-in-out;
                    }
                    img{
                        width: 100%;
                        max-width: 32px;
                        height: auto;
                    }
                }
            }
        }
    }
    .footer-bottom{
        .footer_text_copyright{
            opacity: 0.7;
            color: #fff;
        }
        .footer_nav_link{
            padding: 0;
            margin: 0;
            width: 100%;
            height: auto;
            ul{
                padding: 0;
                margin: 0;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: -o-flex;
                display: flex;
                align-items: center;
                align-content: center;
                -webkit-box-pack: flex-end;
                -moz-box-pack: flex-end;
                -ms-flex-pack: flex-end;
                -webkit-justify-content: flex-end;
                justify-content: flex-end;
                li{
                    margin: 0;
                    a{
                        color: #fff;
                        opacity: 0.7;
                        &:hover{
                            opacity: 1;
                        }
                    }
                    &:not(:first-child){
                        margin-left: 67px;
                    }
                }
            }
        }
        @media only screen and (max-width: 1199px){
            .footer-item{
                &:first-child{
                    width: 60%;
                }
                &:last-child{
                    width: 40%;
                }
            }
        }
    }
}
